// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$color-primary: #1e90ff;
$color-secondary: #b0e0e6;

$color-white: #fff;

h1 {
  color: $color-primary;
  font-size: 2.4vw;
}
h1 {
  font-size: 2vw;
}