@import '../../../stylesheets/valiables.scss';

.btn {
  align-items: center;
  border-radius: 0.4vw;
  border-width: 0.2vw;
  border-style: solid;
  cursor: pointer;
  display: flex;
  height: 2vw;
  padding: 1vw;
  &:hover {
    transition: 0.2s linear;
    &.btn-primary,
    &.btn-secondary {
      background: $color-white;
    }
  }
}
.btn-primary {
  background: $color-primary;
  border-color: $color-primary;
}
.btn-secondary {
  background: $color-secondary;
  border-color: $color-secondary;
}
